* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Bebas Neue";
    src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"), url("../fonts/BebasNeueRegular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background-color: #635854;
    color: #ffffff;
    padding: 12px 0;
    border-bottom: 4px solid #3596f5;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}

.nav__list-item {
    margin-right: 40px;
    margin-left: 40px;
}

.nav__list-link {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.nav__contacts {
    text-align: right;
}

.nav__contacts-text {
    margin: 0;
    margin-bottom: 5px;
}

.nav__tel {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
}

.main .container {
    padding-top: 54px;
    display: flex;
}

.main__info {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.home__img path {
    opacity: 0;
}

.home__img path:hover {
    opacity: 0.75;
    cursor: pointer;
}

path.current__floor {
    opacity: 0.75;
}

.counter__group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 37px;
    line-height: 44px;
    text-transform: uppercase;
    color: #635854;
}

.floor__counter {
    margin: 50px 0px;
    color: #635854;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 74px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}

.counter__button {
    background: none;
    border: none;
    cursor: pointer;
}

.arrow__down {
    transform: rotateX(180deg);
}

.button__primary {
    background: #3596f5;
    border-radius: 6px;
    color: #ffffff;
    padding: 16px 36px;
    font-size: 16px;
    line-height: 18px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}

.is__open {
    opacity: 1;
    transform: scale(1);
}

.modal__dialog {
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #ffffff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}

.is__open>.modal__dialog {
    opacity: 1;
    transform: translateY(0);
}

.modal__img {
    background-color: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}

.modal__title {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0;
}

.flats path {
    opacity: 0;
    cursor: pointer;
}

.flats path:hover {
    opacity: 1;
}

.modal__info {
    width: 40%;
    padding: 50px 46px;
}

.flat__list {
    padding: 0;
    list-style: none;
    margin-top: 55px;
}

.flat__item {
    margin-bottom: 10px;
}

.flat__link {
    font-size: 16px;
    line-height: 19px;
    color: #635854;
    text-decoration: none;
}

.flat__link:hover,
.current__flat {
    color: #3596f5;
    text-decoration: underline;
}

.modal__alert {
    margin-top: 56px;
    font-style: italic;
    font-size: 16px;
    line-height: 19px;
    color: #635854;
}

.button__close {
    position: absolute;
    right: 27px;
    top: 38px;
}

path.current__flat {
    opacity: 0.75;
}

.sold {
    opacity: 0.3;
    color: #000000;
}

.sold:hover {
    opacity: 0.3;
    color: #000000;
}

.sold__img:hover {
    fill: rgba(0, 0, 0, 0.4);
}

.footer {
    margin-top: 54px;
    background-color: #D7D7D7;
}

.footer__items {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.footer__info {
    display: flex;
    align-items: center;
}

.footer__contacts {
    margin-left: 50px;
    text-align: left;
}

.footer__contacts-text {
    margin: 0 0 5px;
    font-size: 14px;
    line-height: 16px;
}

.footer__tel {
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    color: #635854;
}

.social__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    margin-left: 50px;
    color: #635854;
}

.social__item:not(:last-child) {
    margin-right: 15px;
}

.disclaimer {
    display: flex;
    justify-content: space-between;
}

.disclaimer__link {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: underline;
    color: #635854;
    margin-left: 20px;
}